body {
    font-size: 1.3em;
}

h1 {
    color: blue;
}

.player-container {
    width: 85%;
    margin: 0 auto;
}

.player-arrow {
    width: 40%;
    height: 70vh;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player-arrow-left {
    float: left;
    background-image: url("/img/left-arrow.png");
}

.player-arrow-right {
    float: right;
    background-image: url("/img/right-arrow.png");
}

.sign-up-form {
    margin-top: 30vh;
}

.sign-up-form > * {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
}

.sign-up-button {
    font-size: 1.3em;
    text-align: center;
    border: black solid 3px;
    background-color: #03A9F4;
}

.admin-player-entry > * {
    display: inline-block;
    margin-right: 10px;
}

.admin-player-container {
    display: flex;
    align-items: flex-start;
}

.admin-player-container > div {
    margin-right: 60px;
}

.admin-player-list {
    float: none;
}

.admin-accepted-player {
    color: green;
}

.admin-pending-player {
    color: red;
}

#game-canvas {
    display: block;
    margin: 0 auto;
}