@import url(https://fonts.googleapis.com/css?family=Monofett);

body {
    margin: 0;
    font-size: 1.3em;
}

#app {
    background-color: white;
}

.error {
    color: red;
}

.player-container {
    width: 85%;
    margin: 0 auto;
}

.player-arrow {
    width: 40%;
    height: 70vh;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.player-arrow-left {
    float: left;
    background-image: url("/img/left-arrow.png");
}

.player-arrow-right {
    float: right;
    background-image: url("/img/right-arrow.png");
}

.player-arrow-selected {
    background-color: blue;
}

.sign-up-form {
    margin-top: 30vh;
}

.sign-up-form > * {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
}

.sign-up-button {
    font-size: 1.3em;
    text-align: center;
    border: black solid 3px;
    background-color: #03A9F4;
}

.admin-player-entry > * {
    display: inline-block;
    margin-right: 10px;
}

.admin-player-container {
    display: flex;
    align-items: flex-start;
}

.admin-player-container > div {
    margin-right: 60px;
}

.admin-player-list {
    float: none;
}

.admin-accepted-player {
    color: green;
}

.admin-pending-player {
    color: red;
}

.game-page {
    padding-top: 10px;
    background-color: #263238;
    width: 100%;
    height: calc(100vh - 10px);
    background-image: url('/img/game-background.jpg');
    background-size: cover;
    overflow: hidden;
}

.game-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: Monofett;
    font-weight: 500;
    font-size: 70px;
    color: yellow;
}

#game-canvas {
    display: block;
    margin: 0 auto;
    border: white solid 5px;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.blink {
    animation: blinker 1s ease infinite;
}

.game-winner {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.game-winner-text {
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em red;
    margin: 0;
}

.game-winner-logo {
    background-image: url('/img/win-logo.svg');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
}

.qrcode {
    width: 500px;
    height: 560px;
    background-color: white;
    background-image: url('/img/code.png');
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 20px;
    margin: auto;
    margin-bottom: 100%;
    font-family: arial, sans-ms;
}

.qrcode h3 {
    font-family: Monofett;
    font-weight: 500;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.qrcode h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.error-message {
    color:red;
}

.success-message {
    color:green;
}