body {
    font-size: 1.5em;
}

h1 {
    color: red;
}

.player-container {
    width: 85%;
    margin: 0 auto;
}

.player-arrow {
    width: 40%;
    height: 70vh;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player-arrow-left {
    float: left;
    background-image: url("/img/left-arrow.png");
}

.player-arrow-right {
    float: right;
    background-image: url("/img/right-arrow.png");
}

.sign-up-form {
    margin-top: 30vh;
}

.sign-up-form > * {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
}

.sign-up-button {
    text-align: center;
    border: black solid 2px;
    background-color: #03A9F4;
}